*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
nav {
    background: url(IMAGENES/portada.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: calc(100vh - 80px);
}
.header{
    background: #181d2800;
    height: 90px;
    width: 100%;
}
.logo{
    position: absolute;
    padding: 10px 50px;
}
.logo h3 {
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    padding: 0 5px;
}
.logo-icon{
    height: 60px;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: #FFFFFF;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
li a.active, li a:hover{
    background: #181d28c2;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

section h3 {
    color: #FFFFFF;
    font-size: 50px;
    text-align: center;
    padding: 13% 50px;
    margin-top: 50px;
    margin-left: 50px;
}

footer{
    background: #D31E1E;
    height: 100px;
    width: 100%;
}

.grupo-2 {
    color: #171D29;
    text-align: center;
    padding: 2% 10px;
}

@media (max-width: 952px){
    .logo{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
    section h1{
        font: size 30px;
        position: authority;
    }
}

@media (max-width: 872px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2e323951;
        top: 80px;
        left: -100%;
        text-align: right;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
        color: red;
    }
    #check:checked ~ ul{
        left:0;
    }
}